[features]
seeds = false
skip-lint = false

[programs.localnet]
solana_security_reference = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"
attacker = "AttQz1nQD77G7G6ePq5mfJ3yT13N88o7yB6G7V36P7G"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
